<header class="header">
  <div class="container">
    <div class="logo">My Ruby App</div>
    <div class="nav">
      <ul class="nav_a">
        <li><%= link_to 'Lista de Contatos', root_url %></li>
        <li><a href="#">Nova Conta</a></li>
        <li><%= link_to 'Entrar', '#' %></li>
      </ul>
    </div>
  </div>
</header>
